<head>
	<title>Login Concert.me</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Links a los CSS (loginPage)-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/animate.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/animsition.min.css">    
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/util.css">  
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginPage/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/backgroundgreen.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w" action="/main" method="POST">
                    <img src="/images/logo.png" class="logo">
					<span class="login100-form-title p-b-53">
						Ingresa con redes sociales
					</span>

					<a href="#" class="btn-face m-b-20">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>

					<a href="#" class="btn-google m-b-20">
						<img src="images/icon-google.png" alt="GOOGLE">
						Google
					</a>
					
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Nombre de usuario
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" placeholder="e.j. Michael_Jackson">
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="••••••••••••">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Ingresa ahora!
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Aún no tienes una cuenta?
						</span>
                            <a href="register">Registrate ahora</a>
                        
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/javascripts/mainPage/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/mainPage/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/mainPage/popper.js"></script>
	<script src="/javascripts/mainPage/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/mainPage/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/mainPage/moment.min.js"></script>
	<script src="/javascripts/mainPage/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/mainPage/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/mainPage/main.js"></script>

</body>