<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Daily UI | #001 - Sign Up</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/csslogin.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/util.css">

</head>
<body class="align">

  <div class="grid align__item">

    <div class="register">


      <h2>Registrate aqui</h2>

      <form action="" method="post" class="form">

        <div class="wrap-input100 validate-input">
          <input class="input100" type="email" placeholder="tunombre@mail.com">
          <span class="focus-input100"></span>
        </div>
<br>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" placeholder="••••••••••••">
          <span class="focus-input100"></span>
        </div>
<br>
        <div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							Click aqui!
						</button>
					</div>

      </form>
<br>
      <p>Ya tienes una cuenta? <a href="/on">Ingresa aqui</a></p>

    </div>

  </div>

</body>
</html>
